.action-links {
  position: absolute;
  bottom: 0;
}

.action-button {
  i.large {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }
  i.medium {
    font-size: 2rem;
    padding: 0 5px;
  }
  i.small {
    font-size: 1.5rem;
    padding: 0 5px;
  }
}

#error_explanation {
  ul {
    list-style-type: initial;
    margin-left: 3rem;
    color: $alert-color;
  }
}

.field_with_errors {
  label, input {
    border-color: $alert-color;
  }

  label {
    background-color: lighten($alert-color, 20%);
  }

  input {
    color: $alert-color;
  }
}

#debug_dump {
  margin-top: rem-calc(48);

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
  }
}
